#tw-extension {
  width: 300px;
}

#tw-extension .active {
  color: #c63e25;
}

#tw-extension #playback.active {
  color: #008256;
}

#tw-extension .load-recordings {
  display: grid;
  align-items: center;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
}

#tw-extension select {
  width: 100%;
}
